{% if GISCUS_ENABLED and article.status != "draft" %}
<!-- Giscus -->
<script>
    function getCurrentTheme() {
        if (document.body.classList.contains('dark-theme')) {
            return 'dark'
        } else if (document.body.classList.contains('light-theme')) {
            return 'light'
        } else {
            var darkThemeMatch = window.matchMedia('(prefers-color-scheme: dark)');
            var theme = localStorage.getItem('themeOverride');
            if (theme !== 'light' && theme !== 'dark') {
                if (theme === 'browser' || enableAutoDetectTheme) {
                    theme = darkThemeMatch.matches ? 'dark' : 'light';
                } else {
                    theme = "{{ THEME_COLOR }}";
                }
            }
            return theme;
        }
    }

    function updateGiscusTheme() {
        console.log("updateGiscusTheme() called");

        function sendMessage(message) {
            const iframe = document.querySelector('iframe.giscus-frame');
            if (!iframe) return;
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }

        const currentTheme = getCurrentTheme();
        console.log("Changing theme to ", currentTheme);
        sendMessage({
            setConfig: {
                theme: currentTheme,
            },
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const giscusAttributes = {
            "src": "https://giscus.app/client.js",
            "data-repo": "{{ GISCUS_REPO }}",
            "data-repo-id": "{{ GISCUS_REPO_ID }}",
            "data-category": "{{ GISCUS_CATEGORY }}",
            "data-category-id": "{{ GISCUS_CATEGORY_ID }}",
            "data-mapping": "{{ GISCUS_MAPPING }}",
            "data-strict": "1",
            "data-reactions-enabled": "{{ GISCUS_REACTIONS_ENABLED }}",
            "data-emit-metadata": "0",
            "data-input-position": "bottom",
            "data-theme": getCurrentTheme(),
            "data-lang": "en",
            "crossorigin": "anonymous",
            "async": "",
        };

        // Dynamically create script tag
        const giscusScript = document.createElement("script");
        Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        const targetElement = document.querySelector('article');
        targetElement.appendChild(giscusScript);
        updateGiscusTheme()

        // Update giscus theme when theme switcher is clicked
        document.body.addEventListener('themeChange', updateGiscusTheme);
    });
</script>

<noscript>
    {{ _('Please enable JavaScript to view comments.') }}
</noscript>
<!-- End Giscus -->
{% endif %}